.newsWrapper {
     box-sizing: border-box;
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     margin-top: 20px;
     width: 100%;
     justify-content: space-between;
}
.newsByIdWrapper {
     /* border: 2px solid black; */
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
