.h2 {
     color: brown;
}
.h3 {
     color: green;
}
.loader {
}

.error {
     color: red;
}
.author {
     font-style: oblique;
     color: blueviolet;
}

.deletedComment {
     text-shadow: 5px 5px 10px gray;
}
.answer,
.rootComment {
     margin-bottom: 15px;
}
